.banner-bg {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 59%), rgba(10 10 10 / 40%)),url('../../../image/banner/bannerhome.jpg');
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
}
.banner-text {
    position: relative;
    top: 30%;
    transform: translateY(50%);
}
.banner-text h1 {
    color: #fff;
}
.banner-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}