
.medent-img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
}
.we-medent-text {
    padding-left: 20px;
}
.high-light {
    display: inline-block;
    width: 70px;
    color: #fff;
    margin: 0;
    opacity: 1.25;
    background-color: #4fc9e0;
}
.home-counter {
    background-image: linear-gradient(0deg, rgba(64 61 61 / 78%), rgba(72 88 90 / 70%)), url('../../image/Appointment/appoinment.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cards-inner {
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
    transition: all .4s;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 50%;
}
.cards-inner span {
    color: #fff;
}
.cards-inner:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}
.cards-inner h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
}
.cards-inner p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
}
#cardimg {
    transform: scale(1);
    transition: all 1s;
}
#cardimg:hover {
    transform: scale(1.1);
    transition: all 1s;
}